body {
    color: white;
    background: rgba(2, 1, 0, 1);
    margin: 0px;
}

header {
     border-bottom: solid 2px rgba(135, 119, 119, 1);
     padding: 20px;
     font-size: 32px;
     color: rgba(230, 57, 57, 1);
}