body {
    color: white;
    background: rgba(2, 1, 0, 1);
    margin: 0px;
  font-family: "Chakra Petch", sans-serif; }

header {
     border-bottom: solid 2px rgba(135, 119, 119, 1);
     padding: 20px;
     font-size: 42px;
     color: rgb(165, 32, 32);
}

/* código omitido */

section {
    background: rgba(188, 5, 5, 0.817);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}